Checks: "*,
        bugprone-*,
        google-*,
        misc-*,
        modernize-*,
        performance-*,
        portability-*,
        readability-*,
        -llvm-header-guard,
        -llvmlibc-implementation-in-namespace,
        -fuchsia-trailing-return,
        -fuchsia-default-arguments-declarations,
        -misc-include-cleaner,
        -llvmlibc-callee-namespace,
        -hicpp-no-array-decay,
        -altera-unroll-loops,
        -altera-id-dependent-backward-branch,
        -readability-function-cognitive-complexity,
        -cppcoreguidelines-pro-type-vararg,hicpp-vararg,
        -hicpp-vararg,
        -fuchsia-overloaded-operator,
        -fuchsia-default-arguments-calls,
        -fuchsia-statically-constructed-objects,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -cppcoreguidelines-interfaces-global-init,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -llvmlibc-inline-function-decl,
        -llvmlibc-restrict-system-libc-headers,
        -boost-use-ranges,
"
WarningsAsErrors: '*'

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: lower_case }
  - { key: readability-identifier-naming.ClassCase,              value: lower_case  }
  - { key: readability-identifier-naming.StructCase,             value: lower_case  }
  - { key: readability-identifier-naming.TemplateParameterCase,  value: UPPER_CASE  }
  - { key: readability-identifier-naming.FunctionCase,           value: lower_case  }
  - { key: readability-identifier-naming.VariableCase,           value: lower_case }
  - { key: readability-identifier-naming.MacroDefinitionCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,         value: UPPER_CASE }
  - { key: readability-identifier-naming.ConstexprVariableCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.GlobalConstantCase,       value: UPPER_CASE }
  - { key: readability-identifier-naming.MemberConstantCase,       value: UPPER_CASE }
  - { key: readability-identifier-naming.StaticConstantCase,       value: UPPER_CASE }
